.box{
    width: 100px;
    min-height: 50px;
}

.b1 {background: red;}
.b2 {background: green;}
.b3 {background: blue;}

#flex1{
    display: flex;
}

#flex2{
    display: flex;
    flex-direction: row-reverse;
    /* row, row-reverse, column, */
}

#flex3{
    display: flex;
    justify-content: flex-end;
    /* flex-start, center, space-between, space-around, space-evenly  */
}

#flex4{
    display: flex;
    justify-content: center;
    /* flex-start, center, space-between, space-around, space-evenly  */
}

#flex5 {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: yellow;
    align-items: center;

    /* flex-start, center, space-between, space-around, space-evenly  */
}

#flex5 div:first-child{
    background: black;
    align-self: stretch;

}