table{
    border: 2px solid blue;
    margin: 10px;
    border-collapse: collapse;
}

th{
    width: 10%;
    padding: 10px;
    border: 1px solid green;
}

td{

    padding: 15px;
    border: 1px solid green;
}

tr:first-child {
    background-color: teal;
    color: #FFD600;
}

tr td:nth-child(7){
    background-color: #FF9999;
}

td::first-line{
    text-align: center;
    font-size: 1.5em;
}

tr:nth-child(even){
    background-color: #dddddd;
}

td:hover {
    background-color: #BBBBBB;
}